.oii-logo img{
    position: absolute;
    margin-top: 1px;
    border: 5px;
}

.img-border {
    border-width: 3px;
    border-style: solid;
    color: black;
}

.button {
    background: linear-gradient(to right, #99ccff ,  #e6e6e6);
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 10px;
    color: White;
    border-style: solid;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}